@model DataLayer.User
@{
    ViewBag.Title = "Delete";
}



<h3>آیا از حذف مطمئن هستید؟</h3>
<div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger btn-block" />

        </div>
    }
</div>
